<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
	
{% if page.custom_js %}
  {% for js_library in page.custom_js %}
  	{% if js_library == 'd3js'%}
  	  <script src="https://d3js.org/d3.v4.min.js"></script>
  	{% endif %}
  {% endfor %}
{% endif %}