<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

	
{% if page.third_party_js %}
  {% for js_library in page.third_party_js %}
  	{% if js_library == 'd3js'%}
  	  <script src="https://d3js.org/d3.v4.min.js"></script>
  	{% endif %}
  	{% if js_library == 'radarchartjs' %}
  	  <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	  <link rel="stylesheet" href="https://rawgit.com/tpreusse/radar-chart-d3/master/src/radar-chart.css">
	  <link rel="stylesheet" href="/css/2016-08-17-test-first-post.css" media="screen" type="text/css">
	  <script src="https://d3js.org/d3.v3.js"></script>
  	  <script src="/javascripts/custom/radar-chart.js"></script>

  	  
  	{% endif %}
  {% endfor %}
{% endif %}